.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
static/package.json
static/Cargo.toml
# Paraglide
src/lib/paraglide
project.inlang/cache/
fixtures
